
body {
    margin: 0;
    padding: 0;
    background: url(free-landscape-vector.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Anek Bangla', sans-serif;
    font-size: 17px;
}


.head{
    display: block;
    width: 400px;
    margin: 260px auto;
    font-family: 'Clicker Script', cursive;
    line-height: 20px;
    text-align: center;
    color: #696059;
}

#shashi{
    font-size: 82px;
    color: #14a58d;
}
#programmer{
    font-size: 52px;
    font-weight: 800;
}

#pro{
    text-decoration: underline;
    font-size: 55px;
    color: white;
}

.firstline{
    margin-top: 80px;
    border: none;
    border-top: 6px solid #14a58d;
    border-top-style: dotted;
    width: 3%;
    color: #14a58d;
    
}

.profile{
    width: 400px;
    margin: 800px auto 100px;
    text-align: center;
    line-height: 25px;
    font-size: 17px;

}

#Propic{
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 100%;
    margin: 30px 0px;
}

.hello{
    margin-bottom: 50px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color : #94B555;
}

#abc{
    width: 95%;
}

#myskill{
    text-align: center;
    margin-top: 125px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color : #94B555;
}

.skill{
    display: block;
    width: 800px;
    margin: auto;
    margin-top: 110px;
}

#design_para{
    margin-right: 40px;
}

.theme{
    color : #94B555;
}

.challenge{
    width: 800px;
    margin: 125px auto;
    font-weight: bold;
}

#tech{
    display: inline-block;
    border: none;
    border-radius: 100%;
    width: 60%;
    margin-left: 60px;
}

.touch{
    width: 600px;
    margin: 125px auto;
    text-align: center;
    font-weight: bold;
}

.contactme{
    padding: 15px 35px;
    margin-bottom: 55px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: #14a58d;
    background-color: #c7dca1;
    font-size: 20px;
    border: none;
}

.contactme:hover{
    color: white;
    background-color: #696059;
    cursor: pointer;
}


